.wrapper {
    background-image: url(food/food.png);
    width: 600px;
    padding: 60px;
    margin: 55px auto;
    border-radius: 30px;
}

.title {
    font-size: 40px;
    color: saddlebrown;
    padding-left: 45px;
}
.content {
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
}

.form {
    background-color: khaki;
    border-style: dotted;
    border-color: lavenderblush;
    border-radius: 15px;
    margin-left: 60px;
    padding: 30px;
    font-family: cursive;
    color: saddlebrown;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit {
    border-radius: 4px;
    border: 1px solid white;
    background-color: white;
    width: 150px;
    padding: 5px;
    margin-top: 30px;
}

.submit:hover {
    background-color: saddlebrown;
    border: 1px solid saddlebrown;
    opacity: 0.7;
    color: white;
}